@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


:root{
    --cor0:#044476;
    --cor1:#58A0C4;
    --cor2:#ABC2C4;
    --cor3:#2B3120;
    --cor4:#594236;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Fjalla One', sans-serif;

}

a{
    text-decoration: ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body{
    background-color: var(--cor2);
}

header{
    width: 100%;
    background-color: var(--cor0) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.637);
    
}

img#logotipo {
    width: 110px;
    height: 110px;
    margin: -15px;
    margin-left: 4px;
    
}

h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

img#logotipologin {
    width: 90px;
    height: 90px;
    margin: -15px;
    margin-left: 4px;
}

.login{
    position: absolute;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    border: #2B3120;
    border-style: solid;
    border-width: 1px;

}

.login > h1{
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-align: left;
    margin-bottom: 40px;
    margin-top: 40px;
}

.inp_login{
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    border: #2B3120;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.botao_login{
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    border-radius: 20px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.login > p {
    font: var(--fonte-padrao);
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.login > p#a {
    font: var(--fonte-padrao);
    margin: 0px;
    text-align: left;
    font-size: 12px;
}


.menu-inicial {
    display: inline-block;
    margin: 4px;
}
.cabecalho {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
   
}
.cabecalho:hover{
    background-color: #594236;

}

picture#banner > source{
    width: 100%;
}
picture#banner > img {
    width: 100%;
    /*box-shadow:  0px -10px 25px  rgba(0, 0, 0, 0.637);*/
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servico:hover{
    transform: scale(1.10);
}

.servico {
    margin: 10px;
    background-color: var(--cor0);
    width: 250px;
    height: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.imgdiv{
    display: flex;
    margin: auto;
    padding-top: 26px;
    padding-bottom: 25px;
}

.pdiv {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: var(--cor2);
    
}

h1{
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h1#sobre{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: end;

}

div#txt_sobre{
    margin-right: 5%;
    width: 600px;
    margin: 1%;
    text-align: justify;
    color: var(--cor2) ;
    text-indent: 30px;
}
.container_sobre{
    background-color: var(--cor3);
    margin-top: 40px;
    padding: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container_contatos > p {
    margin-top: 25px;
}

.container_ico{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.icone{
    width: 32px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.icone:hover{
    transform: scale(1.10);
}

footer >  p {
    background-color: var(--cor0);
    text-align: center;
    align-items: center;
    padding: 20px;
    color: var(--cor2);
    font-weight: bold;
}

.quero{
    background-color: rgb(0, 109, 0);
    color: white;
    font: var(--fonte-padrao);
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border: none;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.quero:hover{
    transform: scale(1.10);
}


/* Nav principal */
.nav-usuario{ 
    backdrop-filter: blur(px);
    border-right-style: solid;
    border-right-width: 1px;
    width: 150px;
    height: 100vh;
    left: -350px;
    position: absolute;
    transition: all .5s;
}



/*Icone*/
.nav-usuario > ul > a > li > i{ 
    padding-right: 15px;
}


/*Lista nao ordenada*/
.nav-usuario > ul{
    top: 40px;
    position: absolute;
    width: 100%;
}

/*Link*/
.nav-usuario> ul > a{
    text-align: center;
    color: var(--cor5);
    text-decoration: none;
    display: block;
    padding: 20px 5px;
    position: relative;

}

/*link after*/
.nav-usuario> ul > a:after{
   background: none repeat scroll 0 0 transparent;
   bottom: 0;
   content: "";
   display: block;
   height: 1px;
   left: 50%;
   position: absolute;
   background-color: black;
   transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width: 0;
}

/*link hover*/
.nav-usuario> ul > a:hover:after{
    width: 100%;
    left: 0;   
}


label#ml{
    font-size: 30px;
    position: absolute;
    z-index: 1;
}

input#chec[type="checkbox"]{
    display: none;
}

input#chec[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.logo-flutuante{
    position: absolute;
    width: 25%;
    background-color: var(--cor0);
    top: 2%;
    left: 75%;
    border-radius: 20px 0px 0px 20px ;
}

.logo-flutuante > a{
    display: block;
    border-radius: 20px 0px 0px 20px;
}

.whatsapp-flutuante{
    font-family: var(--fonte-padrao);
    position: absolute;
    left: 59%;
    top: 5%;
    border-bottom-style: solid;
    border-color: black;
}

.whatsapp-flutuante > a > i{
    padding-right:8px;
    font-size: 25px;
}

.whatsapp-flutuante > a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #a4c639 ;
    padding: 23px 20px 23px 20px ;
    border-radius: 20px;
    
}


